.index-page {
  .user-info-wrap {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    img {
      width: 100px;
      height: 100px;
      border-radius: 50%;
      margin-bottom: 20px;
    }
    .user-name {
      font-size: 20px;
    }
  }

  .my-list-wrap {
    .list-item {
      display: flex;
      background-color: #fff;
      padding: 10px;
      margin-bottom: 10px;
      img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        flex: none;
        margin-right: 10px;
      }
      .item-info {
        flex: 1;
        flex-direction: column;
        justify-content: center;
        .item-text {

        }
        .item-date {
          text-align: right;
        }
      }
    }
  }
  .loading {
    text-align: center;
  }
}
